@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif !important;
}

.container{
    width: 1200px;
    margin: 0 auto;
}


/* header section  */

header{
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    color: #1B323B;
    font-size: 40px;
    font-family: 'Roboto';
    font-weight: 700;
    text-decoration: none;
}

.nav-menu  ul {
    display: flex;
    list-style: none;
    align-items: center; 
}

.nav-menu ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    padding: 0 20px;
      
}
.contact-btn{
    color: #fff;
    background-color: #1B323B;
    padding: 8px 17px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.contact-btn:hover{
    background-color: #17463e;
}


/* Home Banner  */
.hero-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 67px;
}

.hero-left h1{
    font-size: 64px;
    font-weight: 700;
    color: #1B323B;
}
.hero-left h2{
    font-size: 64px;
    font-weight: 700;
    color: #514E4E;
}